html {
    background: rgb(85, 85, 85);
    background: radial-gradient(circle, rgba(85, 85, 85, 1) 0%, rgba(51, 51, 51, 1) 100%);
}

body {
    margin: 0px;
    padding: 0px;


}

header {
    padding-top: 20px;
    background-color: #1F2937;
    padding-bottom: 20px;


}

.title {
    text-align: center;
    font-family: 'Bungee Spice', cursive;


}


button {
    border: none;
    outline: none;
    background: none;
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

.btn-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 2%;


}


.btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    /* border: 2px solid black; */
    border-radius: 50%;
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: rgba(211, 211, 211, 0.24)
}

.btn:hover {
    background-color: lightgray;
}

.scores {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.div {
    display: flex;
    justify-content: center;
}

.result {

    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.image {
    display: flex;
    justify-content: center;
}

.anim {
    height: 200px;
    width: 200Px;
    cursor: pointer;
}