html {
    background: rgb(75, 105, 255);
    background: radial-gradient(circle, rgba(75, 105, 255, 1) 0%, rgba(255, 128, 227, 1) 74%);
}

body {
    margin: 0;
    padding: 0;


}

.title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}


button {
    border: none;
    outline: none;
    background: none;
}

button:active {
    background-color: white;
}

.btn-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 2%;


}


.btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;


}

.scores {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 300px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.div {
    display: flex;
    justify-content: center;
}

.result {

    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}